<div class="page-wrap">
    <section class="section-one">
        <img src="https://www.socialdental.com/success-chart/img/social-dental-logo.svg">
    </section>
    <section class="section-two">
        <p class="title">SUCCESS CHART</p>
        <p class="summary">This chart is a compressive view of your social media presence</p>
        <div class="line"></div>
    </section>
    <section class="section-three">
        <form class="left">
            <div class="left-top-box">
                <p class="practice-title">PRACTICE:</p>
                <textarea class="practice-text" onkeyup="auto_grow(this)" wrap="wrap" id="the_textarea_1" maxlength="95"></textarea>
            </div>
            <div id="print_helper_1"></div>
            <div class="left-bottom-box">
                <p class="pro-tips-title">PRO TIPS:</p>
                <textarea class="pro-tips-text" onkeyup="auto_grow(this)" wrap="wrap" id="the_textarea_2" maxlength="485"></textarea>
            </div>
            <div id="print_helper_2"></div>
        </form>
        <form class="right">
            <div class="right-top-box">
                <textarea class="notes-textboxes" onkeyup="auto_grow(this)" wrap="wrap" id="the_textarea_3" maxlength="340"></textarea>
                <div id="print_helper_3"></div>
                <img src="https://www.socialdental.com/success-chart/img/smile.svg">
            </div>
            <div class="right-middle-box">
                <textarea class="notes-textboxes" onkeyup="auto_grow(this)" wrap="wrap" id="the_textarea_4" maxlength="340"></textarea>
                <div id="print_helper_4"></div>
                <img src="https://www.socialdental.com/success-chart/img/neutral.svg">
            </div>
            <div class="right-bottom-box">
                <textarea class="notes-textboxes" onkeyup="auto_grow(this)" wrap="wrap" id="the_textarea_5" maxlength="340"></textarea>
                <div id="print_helper_5"></div>
                <img src="https://www.socialdental.com/success-chart/img/frown.svg">
            </div>
        </form>
    </section>
</div>
<section class="section-four">
    <a class="print-button" onclick="window.print();return false;">Print Chart</a>
</section>
